.card.fresh h4 {

}

.card.stale, .card.stale .card-divider {
  background-color: #fbf2e0;
}

.card.stale h4,
.card.stale .marketUp,
.card.stale .marketDown{
  color: #e6c584;
}

.card .portfolio {
  border-top: 1px solid #eee;
}
