@import './components/card.scss';


.marketUp {
  color: #43AC6A;
}

.marketDown {
  color: #F08A24;
}

.titlePrice {
  font-size: 2rem;
}

.fresh h4 {
  color: green;
}

.stale h4 {
  color: orange;
}
